#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@ 

override_dh_auto_build:
	dh_auto_build
	cd doc; lyx --export pdf libdsk.lyx
	cd doc; lyx --export text libdsk.lyx
	cd doc; lyx --export html libdsk.lyx; mv libdsk.html.* libdsk.html

override_dh_installdocs:
	dh_installdocs --link-doc=libdsk4
