#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@ --with autoreconf

override_dh_auto_build:
	dh_auto_build

	# Generate documentation
	cd doc; HOME=/tmp lyx --export pdf libdsk.lyx
	cd doc; HOME=/tmp lyx --export text libdsk.lyx
	cd doc; HOME=/tmp lyx --export xhtml libdsk.lyx

	# Strip metadata fro mPDF for reproducibility
	cd doc; exiftool -all:all= libdsk.pdf

override_dh_installdocs:
	dh_installdocs --link-doc=libdsk4

override_dh_compress:
	# Do not compress so doc-base points to readable files
	dh_compress -X.pdf -X.txt -X.xhtml -X.css

.PHONY: get-packaged-orig-source
get-packaged-orig-source:
	$(uscan-download-source) --download-current-version

# Policy §4.9 strongly recommends the ‘get-orig-source’ target:
# “This target is optional, but providing it if possible is a good idea.”
#
# This target is an anomaly: per Policy §4.9, it fetches the *latest*
# upstream source, regardless of this package's version. To fetch the
# upstream source corresponding to this package's *declared* version
# in ‘debian/changelog’, use ‘get-packaged-orig-source’ instead.
.PHONY: get-orig-source
get-orig-source:
	$(uscan-download-source)

get-orig-source get-packaged-orig-source: http_proxy =
get-orig-source get-packaged-orig-source: makefile_dir = $(abspath $(dir $(firstword ${MAKEFILE_LIST})))
get-orig-source get-packaged-orig-source: package_dir = $(abspath $(dir ${makefile_dir}))

define uscan-download-source
	uscan --noconf --verbose \
	    --force-download \
	    --rename \
	    --destdir=$(CURDIR) \
	    --check-dirname-level=0 ${package_dir}
endef # uscan-download-source
